<div class="col-md-12">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-3">
          <%= link_to image_tag("pic-1.jpg", class: "img-rounded img-responsive img-center"), image_path(design_jobs_path(:order => "category"))%>
          <h3 class="text-center"><%= link_to("设计", produce_jobs_path(:order => "category"))%></h3>
      </div>
      <div class="col-md-3">
          <%= link_to image_tag("pic-2.jpg", class: "img-rounded img-responsive img-center"), image_path(produce_jobs_path(:order => "category"))%>
          <h3 class="text-center"><%= link_to("制造", produce_jobs_path(:order => "category"))%></h3>
      </div>
      <div class="col-md-3">
          <%= link_to image_tag("pic-3.jpg", class: "img-rounded img-responsive img-center"), image_path(operation_jobs_path(:order => "category"))%>
          <h3 class="text-center"><%= link_to("营运", operation_jobs_path(:order => "category" ))%></h3>
      </div>
      <div class="col-md-3">
          <%= link_to image_tag("pic-4.jpg", class: "img-rounded img-responsive img-center"), image_path(jobs_path)%>
          <h3 class="text-center"><%= link_to("全部", jobs_path) %></h3>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h2>
        全部－职位信息
          <div class="dropdown clearfix pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              排序
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                <li>
                  <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
                </li>
                <li>
                    <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
                </li>
                <li>
                  <%= link_to("按照发表时间排序", jobs_path ) %>
                </li>
            </ul>
          </div>
        </h2>
      </div>
      <table class="table table-hover text-center ">
        <thead>
          <tr>
            <td>职缺</td>
            <td>类别</td>
            <td>城市</td>
            <td>薪资范围</td>
            <td>发布时间</td>
            <td>创建公司</td>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |g| %>
            <tr>
              <td><%= link_to(g.title,job_path(g)) %></td>
              <td><%= g.category%></td>
              <td><%= g.city%></td>
              <td>
                <span class="badge badge-info">
                  <span class="fa fa-rmb"></span>
                  <%= g.wage_lower_bound%>
                  -
                  <%= g.wage_upper_bound%>
                </span>
            </td>
              <td><%= g.created_at.to_date%></td>
              <td><%= g.company%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>
  </div>
</div>
