<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      job
    </div>
    <table class="table table-hover ">
      <thead>
        <tr>
          <td>#</td>
          <td>职缺</td>
          <td>薪资下限</td>
          <td>薪资上限</td>
          <td>刊登时间</td>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |g| %>
          <tr>
            <td>#</td>
            <td><%= link_to(g.title,job_path(g)) %></td>
            <td><%= g.wage_lower_bound%></td>
            <td><%= g.wage_upper_bound%></td>
            <td><%= g.created_at%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
  </div>
</div>
