<div>
  <br>
<% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some product into to search.
    </div>

  <% elsif @jobs.blank? %>
    <br>
    <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h2>
    <table class="table table-hover table-boldered table-striped custab">
      <thead>
        <tr>
          <td>#</td>
          <td>职缺</td>
          <td>薪资下限</td>
          <td>薪资上限</td>
          <td>刊登时间</td>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |g| %>
          <tr>
            <td>#</td>
            <td><%= link_to(render_highlight_content(g,@query_string),job_path(g)) %></td>
            <td><%= g.wage_lower_bound%></td>
            <td><%= g.wage_upper_bound%></td>
            <td><%= g.created_at%></td>
          </tr>

        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>

  <% end %>
</div>
