<%= simple_form_for [:admin ,@job] do |f| %>
  <div class="form-job">
    <%= f.input :title, :label => "职缺"%>
    <%= f.input :category,:label => "类别", as: :radio_buttons, collection: [['设计与制造', '设计与制造'],['海洋开发及运营', '海洋开发及运营']], required: '设计与制造' %>
    <%= f.input :city, :label => "城市" %>
    <%= f.input :description, :label => "职缺描述"%>
    <%= f.input :wage_upper_bound, :label => "薪资上限"%>
    <%= f.input :wage_lower_bound, :label => "薪资下限"%>
    <%= f.input :contact_email, :label => "联系邮箱" %>
    <%= f.input :is_hidden,:label => "隐藏"%>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submiting..."}%>
<% end %>
