<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h2 class="panel-title">
                  所投公司－<%= @job.user.name %>
                </h2>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="trix-content">
            <p>
              <h4>简历内容</h4>
              <blockquote>
                <%= simple_format(resume.content) %>
              </blockquote>
            </p>
        </div>

        <hr>

        <% if resume.attachment.present? %>
          <i class="fa fa-paperclip"> </i>
          <%= link_to("Download Resume", resume.attachment_url) %>
        <% else %>
           No Attachment
        <% end %>
        <%= link_to("Edit", new_job_resume_path(@job) ,class: "btn btn-primary btn-lg pull-right")%>
        <%= link_to job_resumes_path(@job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash"></i><% end %>


    </div>

</div>
