<div class="col-md-6 col-md-offset-3">
  <h2 class="text-center">投递简历到<%= @job.title%></h2>
  <hr>

  <%= simple_form_for [@job, @resume] do |f| %>
    <%= f.input :content ,label: "个人简介"%>
    <%= f.input :attachment, label:"上传简历"%>
    <%= f.submit "送出", class: "pull-right btn btn-primary"%>
  <% end %>
</div>
